
<div class="container">

  <!-- NON-BLOCKING NOTIFICATION -->
  <p-growl [value]="msgs"></p-growl>

  <!-- ADD CONTACT MODAL -->
  <p-dialog header="Add Contact" [(visible)]="dialogContactAdd" [modal]="true" [responsive]="true" [width]="750" [minWidth]="200" [minY]="70" 
    [maximizable]="true" [baseZIndex]="10000">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlInput1">First name</label>
                    <input id="input" class="form-control" type="text" size="30" id="firstName" [(ngModel)]="contactNew.firstName" pKeyFilter="alpha" placeholder="**Required**" #nameRegister (keyup)="verifyName(nameRegister.value,1)" pInputText > 
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Last name</label>
                    <input id="input" class="form-control" type="text" size="30" id="lastName" [(ngModel)]="contactNew.lastName" pInputText > 
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">PhoneNumber</label>
                    <input id="input" class="form-control" type="text" size="30" id="phoneNumber" [(ngModel)]="contactNew.phoneNumber" pKeyFilter="num" pInputText > 
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input id="input" class="form-control" type="text" size="30" id="email" [(ngModel)]="contactNew.email" pInputText > 
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlInput1">City</label>
                    <input id="input" class="form-control" type="text" size="30" id="city" [(ngModel)]="contactNew.city" pInputText > 
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">State</label>
                    <input id="input" class="form-control" type="text" size="30" id="state" [(ngModel)]="contactNew.state" pInputText > 
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Zip Code</label>
                    <input id="input" class="form-control" type="text" size="30" id="zipCode" [(ngModel)]="contactNew.zipCode" pInputText > 
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Contact address 1</label>
                    <textarea class="form-control" id="address1" rows="2" cols="30" [(ngModel)]="contactNew.streetAddress1" pInputTextarea></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Contact address 2</label>
                    <textarea class="form-control" id="address2" rows="2" cols="30" [(ngModel)]="contactNew.streetAddress2" pInputTextarea></textarea>
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <button type="submit" pButton icon="fa fa-check" (click)="saveContact()" label="Save" [disabled]="saveRegister"></button>
        <button type="button" pButton icon="fa fa-close" (click)="dialogContactAdd=false" label="Cancel"></button>
    </p-footer>
  </p-dialog>

  <!-- BUTTON OPEN MODAL CONTACT -->
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <p-button (onClick)="dialogs(1)" icon="fa fa-user-plus" label="Add Contact"></p-button>       
    </div>
  </div>
</div>

  <!-- DIALOG CONFIRM DROP CONTACT -->
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>

  <!-- CONTACT DETAILS MODAL -->
  <p-dialog header="Contact Details" [(visible)]="dialogContactInformation" [modal]="true" [responsive]="true" [width]="750" [minWidth]="200" [minY]="70" 
    [maximizable]="true" [baseZIndex]="10000">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlInput1">First name</label>
                    <input id="input" class="form-control" type="text" size="30" id="firstName" [disabled]="checked" pKeyFilter="alpha" name="firstName" [(ngModel)]="contactTemp.firstName" #nameUpdate (keyup)="verifyName(nameUpdate.value,2)" placeholder="**Required**"  pInputText > 
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Last name</label>
                    <input id="input" class="form-control" type="text" size="30" id="lastName" [disabled]="checked" name="lastName" [(ngModel)]="contactTemp.lastName" pInputText > 
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">PhoneNumber</label>
                    <input id="input" class="form-control" type="text" size="30" id="phoneNumber" [disabled]="checked" name="phoneNumber" [(ngModel)]="contactTemp.phoneNumber" pKeyFilter="num" pInputText > 
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address</label>
                    <input id="input" class="form-control" type="text" size="30" id="email" [disabled]="checked" name="email" [(ngModel)]="contactTemp.email" pInputText > 
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="exampleFormControlInput1">City</label>
                    <input id="input" class="form-control" type="text" size="30" name="city" [disabled]="checked" [(ngModel)]="contactTemp.city" id="city" pInputText > 
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">State</label>
                    <input id="input" class="form-control" type="text" size="30" name="state" [disabled]="checked" [(ngModel)]="contactTemp.state" id="state" pInputText > 
                </div>
                    <div class="form-group">
                    <label for="exampleFormControlInput1">Zip Code</label>
                    <input id="input" class="form-control" type="text" size="30" name="zipCode" [disabled]="checked" [(ngModel)]="contactTemp.zipCode" id="zipCode" pInputText > 
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Contact address 1</label>
                    <textarea class="form-control" id="address1" rows="2" cols="30" name="streetAddress1" [disabled]="checked" [(ngModel)]="contactTemp.streetAddress1" pInputTextarea></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Contact address 2</label>
                    <textarea class="form-control" id="address2" rows="2" cols="30" name="streetAddress2" [disabled]="checked" [(ngModel)]="contactTemp.streetAddress2" pInputTextarea></textarea>
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <div *ngIf="checked">
            <button type="button" pButton icon="fa fa-trash" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa fa-edit" (click)="checked=!checked" label="Edit"></button>
        </div>
        <div *ngIf="checked == false">
                <button type="button" pButton icon="fa fa-trash" (click)="saveInformation()" label="Save" [disabled]="saveUpdate"></button>
                <button type="button" pButton icon="fa fa-edit" (click)="confirmDropChanges()" label="Cancel"></button>
            </div>
        
    </p-footer>
  </p-dialog>

  <!-- LIST OF CONTACTS -->
  <div class="container text-center margin10 marginButtom">
      <div class="row">
          <div class="col-md-12 responsive">
                <p-dataScroller [value]="contacts" [rows]="10" [inline]="true" scrollHeight="500px" >
                    <p-header>
                        Contacts List
                    </p-header>
                    <ng-template let-contact pTemplate="item">
                        <div class="ui-g car-item" (click)="dialogs(2,contact)">
                            <div class="ui-g-12 ui-md-3">
                                <img src="assets/showcase/images/contact.png">
                            </div>
                            <div class="ui-g-12 ui-md-9">
                                <div class="ui-g"  >
                                    <div class="ui-g-2 ui-sm-6">Name: </div>
                                    <div class="ui-g-10 ui-sm-6"><b>{{contact.firstName}}</b></div>
                                    <div class="ui-g-2 ui-sm-6">Last Name: </div>
                                    <div class="ui-g-10 ui-sm-6"><b>{{contact.lastName}}</b></div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </ng-template>
                    <p-footer *ngIf="contacts.length == 0">
                        No data available, please click "Add Contact" to add a new contact
                    </p-footer>
                    <p-footer *ngIf="contacts.length > 0">
                            {{contacts.length}} Contacts
                    </p-footer>
              </p-dataScroller>
          </div>
        </div>
  </div>




